#map-page, #map-canvas { width: 100%; height: 100%; padding: 0; }


html {
	font-family: sans-serif;
}

table {
	border-spacing: 5;
	
}

th {
	text-align: left;
	background-color: #e0e0e0;
	color: #000000;
}

td {
	border-bottom: 1px solid #ddd;
}

tr > * {
	padding: 0.5em;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#map-page, #map-canvas { width: 100%; height: 100%; padding: 0; }